
.container{
	margin: auto;
	display: block;
	align-self: center;
	align-items: center;
}
#header{
	padding-top: 15vw;
	display: block;
	font-size: 1rem;
}
#section{
	display: block;
	height: 10vw;
	align-items: center;
	background-color: #ef5a5a;

}
#tab{
	text-align: right;
	display: block;
	border-bottom: solid 1px;
}