
.container{
	margin: auto;
	display: block;
	align-self: center;
	align-items: center;
}
#header{
	padding-top: 15vw;
	display: block;
	font-size: 1rem;
	background-color: #fa9000;

}
#section{
	font: normal normal 25px Arial, Tahoma, Helvetica, FreeSans, sans-serif;
	color: black;
	display: block;
	align-items: center;	
	margin-top: 0px;
	padding: 10px;

}
#tab{
	text-align: right;
	display: block;
	border-bottom: solid 2px #ef5a5a;
}